<hr>
<div class="projects-nav">
    <h2>All Projects</h2>
    <span class="abc-anchors">
    {% for letter in letter_list %}
    <li><a href="#{{ letter }}">{{ letter }}</a></li>
    {% end %}
    </span>
</div>
{% set last_first_letter = '' %}
{% for project in all_projects %}
    {% if last_first_letter != project['name'][0].upper() %}
        <h3 class="anchor-target" id="{{ project['name'][0].upper() }}">{{ project['name'][0].upper() }}</h3>
    {% end %}
    {% set last_first_letter = project['name'][0].upper() %}
    {% set service_statuses = all_service_statuses[project['name']] %}
    {% include 'service_list.html' %}
{% end %}
<hr>
{% if len(load_errors) > 0 %}
    <h2>Load Errors</h2>
    <ul class="load-error">
    {% for error in load_errors %}
        <li>
            <p>{{ error[0] }}</p>
            <p class="details">{%raw '<br>'.join(error[1:]) %}</p>
        </li>
    {% end %}
    </ul>
<p><em>Tip: You can remove old or broken projects by calling <code>riptide project-remove name</code></em></p>
{% end %}