<h3>Services of {{ project["name"] }}:</h3>
<ul class="service-list">
    {% set has_service = False %}
    {% for service in project["app"]["services"].values() %}
        {% if "port" in service %}
            {% set has_service = True %}
            <li {% if service_statuses[service['$name']] %}class="started"{% end %}>
                {{ service['$name'] }}: <ul>
                <li><a href="//{{ service.domain() }}">//{{ service.domain() }}</a></li>
                {% for subdomain, additional_domain in service.additional_domains().items() %}
                    <li><a href="//{{ additional_domain }}">//{{ additional_domain }}</a></li>
                {% end %}
                </ul>
            </li>
        {% end %}
    {% end %}
    {% if not has_service %}
        <li><em>This project has no services.</em></li>
    {% end %}
</ul>